# IDEA files
/.idea/
/out/
/*.iml

# Text File generated
/duke_save.txt/

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/
