# IDEA files
/.idea/
/out/
/*.iml

# VS Code files
/.classpath
/.project
/.settings/

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/
