.text-input-bar {
    -fx-background-color: rgba(29, 45, 52, 0.62);
}

.text-input-bar .text-input-field {
    -fx-background-color: rgb(29, 45, 52);
    -fx-text-fill: #e9e1e2;
    -fx-opacity: 0.95;
}

.text-input-bar .text-input-enter-button {
    -fx-text-fill: #e9e1e2;
    -fx-background-color: rgb(29, 45, 52);
    -fx-border-color: rgb(1, 25, 35);
    -fx-border-radius: 5;
    -fx-opacity: 0.95;
    -fx-effect: dropshadow(one-pass-box, black, 8, 0.0, 2, 0);
}

.scroll-pane {
    -fx-background-color: linear-gradient(to bottom, #c1c7d8, #a5bac2);
}

.chat-text-box {
    -fx-background-color: linear-gradient(from 25px 25px to 100px 100px, #99faff, #a5ffec);
    -fx-background-radius: 5;
    -fx-padding: 3 5 3 5;
}

.image-circle {
    -fx-stroke: #7e868e;
    -fx-stroke-type: outside;
    -fx-stroke-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 13, 0.5, 0.5, 1.0);
}